* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: linear-gradient(90deg, rgba(31,25,25,1) 0%, rgba(7,167,199,1) 79%, rgba(2,201,243,1) 100%);
}
.container {
    width: 70%;
    margin: auto;
    padding-top: 38px;
}
.header {
    background: #2596be;
    width: 100%;
    display: flex;
    box-shadow: 4px 2px 9px rgb(255, 255, 255);
}
.img {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
img {
    margin-bottom: 40px;
    gap: 10px;
    width: 360px;
    height: 380px;
}
.img h1 {
    padding-bottom: 10px;
    font-size: 45px;
    margin: auto;
    margin-top: 30px;
    padding-right: 34px;
    color: #001821;
}
.card {
    width: 60%;
    background: #095c7b;
}
section {
    gap: 10px;
}
.card section img {
    width: 100%;
    height: 150px;
}
.in-card {
    margin: auto;
    width: 50%;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}
.input {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input h1{
    padding-top: 15px;
    margin: auto;
    font-size: 20.5px;
    color: #053e52;
}
.input-group {
    margin: auto;
}
.input-group h3 {
    padding-left: 10px;
    color: #053e52;
    font-size: 15px;
}
input {
    padding: 7px;
    margin: 7px;
    border-radius: 10px;
    border: none;
    background: #bfcbd0;
    border: 1px solid gray;
}
.input button {
    width: 65%;
    margin: auto;
    border: none;
    padding: 5px;
    border-radius: 30px;
    background: #095c7b;
    color: white;
    font-weight: bold;
}
label {
    margin: auto;
    font-size: 12px;
}
.language {
    display: flex;
    margin: auto;
    gap: 90px;
}
.language p {
    font-size: 13px;
    padding-bottom: 15px;
}